:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;

  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.first-part-logo {
  color: var(--accent-color);
}
/* Убрал точки в списке */
ul {
  list-style: none;
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth nav */
.auth-nav .mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .mail:hover,
.auth-nav .mail:focus {
  color: var(--accent-color);
}

.auth-nav .phone-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .phone-link:hover,
.auth-nav .phone-link:focus {
  color: var(--accent-color);
}

.footer-nav .mail-footer {
  color: black;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-nav .mail-footer:hover,
.footer-nav .mail-footer:focus {
  color: var(--accent-color);
}

.footer-nav .footer-phone-link {
  color: black;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-nav .footer-phone-link:hover,
.footer-nav .footer-phone-link:focus {
  color: var(--accent-color);
}

.footer-google-maps {
  color: black;
  text-decoration: none;
}
