body {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* Hero */
.hero-title {
  color: var(--primery-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-background-color {
  background-color: #2f303a;
}
/* Button */

.button {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-people {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-profession {
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
}

/* Team */

.team {
  background-color: #f5f4fa;
}

/* Features */
.features-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
