body {
  background-color: #ffffff;
}

.button {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
}

.button:focus,
.button:hover {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}

.site-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.site-descriptions {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
